<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <servlet-name>CampusResourceServlet</servlet-name>
    <servlet-class>edu.cssp.servlet.CampusResourceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClubServlet</servlet-name>
    <servlet-class>edu.cssp.servlet.ClubServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CampusResourceServlet</servlet-name>
    <url-pattern>/resource</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClubServlet</servlet-name>
    <url-pattern>/club</url-pattern>
  </servlet-mapping>
</web-app>